*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: orange;
}
h3{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
.firstdiv{
    height: 250px;
    width: 21%;
    margin: 10px 39.5%;
    border: 1px solid orange;
    border-radius: 12px;
    background-image: url(/images/picture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    box-shadow: 10px 10px 10px purple;
}
p{
    text-align: justify;
}
.seconddiv{
    height: 200px;
    width: 80%;
    margin: 30px 10% 10px;
}
